* {
	font-family: "Helvetica";
}

hr {
  border: 0;
  border-top: 3px solid black;
}

.buttons{
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(25, 25, 25);
  padding: 0.25rem 0.5rem;
  color: rgb(0, 255, 0);
  transition: all 0.25s ease-in;
  margin: 2px 5px;
}

.item:hover {
  cursor: pointer;
  color: rgb(25, 25, 25);
  background: rgb(0, 255, 0);
}

strong {
  font-size: 0.75rem;
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}
