* {
	font-family: "Helvetica";
}

:root {
  --color-primary: #8A0000;
  --color-secondary: #3B060A;
  --color-accent: #C83F12;
  --color-white: #E0D9D9;
}

body {
  height: 90vh;
}

::selection {
  color: var(--color-white);
  background: var(--color-secondary);
}

hr {
  border: 0;
  border-top: 2px solid black;
}

.buttons{
  display:flex;
  align-items:center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25rem 0.5rem;
  transition: all 0.35s ease-in;
  margin: 2px 5px;
  background: var(--color-secondary);
  color: var(--color-white);
  border: 1px solid var(--color-dark);
  border-radius: 5%;
}

.item:hover {
  background: var(--color-primary);
  color: var(--color-white);
}

.item:hover {
  cursor: pointer;
}

.item:active {
  border: transparent;
}

strong {
  font-size: 0.75rem;
  display: block;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}

.task-area {
  width: 95%;
  margin: 10px auto;
}

#taskInput {
  width: 100%;
  padding: 6px;
  font-size: 12px;
  border: 2px solid var(--color-primary);
  outline: none;
  resize: none;
  min-width: 97%;
  max-width: 97%;
  height: 5rem;
  margin: 0 auto;
}

#taskList {
  list-style: none;
  padding: 0;
  margin-top: 8px;
}

.task-item {
  display: flex;
  border-radius: 1%;
  justify-content: space-between;
  align-items: center;
  background: var(--color-accent);
  color: var(--color-white);
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 6px;          /* smaller padding */
  margin-bottom: 2px;        /* tighter spacing */
  font-size: 10px;           /* smaller text */
}

.task-item button {
  font-size: 10px;
  cursor: pointer;
}

#taskInput {
  padding: 4px;
  font-size: 10px;
  margin-top: 6px;
  margin-bottom: 1rem;
}

#taskList {
  max-height: 160px;   /* adjust if needed */
  overflow-y: auto;
}